.back{
    background: linear-gradient(90deg, #10a7c2 0%, #2a2cb6 49%, #2ab6b0 100%);
    background-image: fill;
    /* margin: 50px 0 50px 0;
    padding: 10% 0 0 0; */
    position: center;
    min-height: 100vh;

}

.text{
text-align: center;
margin-top: 20%;
}

.img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: solid 10px #3409cf;
    padding: 10px;
    background-color:rgb(24, 164, 189);
}

.img:hover {
    opacity: 0.7;
   font-family: fantasy;
 }

 .about{
  color: rgb(127, 197, 255);
  margin: 50px 0 50px 0;
  padding: 0 0 0 0;
 }